@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

body{

    background-color: #F1F0E8 !important; 
}
.navbar{
    background-color: #F1F0E8 !important; 
    
}

.carousel-text{
    color: #96B6C5 !important;
}

a {
    font-family: 'Peddana', serif;
    color: #96B6C5 !important;
    
}

/* .card{
    height: 20% !important;
    
} */